<div class="bgblack">
	<section class="footernav pt-5">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-3 txtfooter text-center">
					<p>Home</p>
				</div>
				<div class="col-md-3 txtfooter text-center">
					<p>Profile</p>
				</div>
				<div class="col-md-3 txtfooter text-center">
					<p>Contact</p>
				</div>
				<div class="col-md-3 txtfooter text-center">
					<p>CGU</p>
				</div>
			</div>
		</div>
	</section>
	<section class="logos pt-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-1 txtfooter text-center">
					<img class="" src="assets/images/youtube.png" style="max-width:60px; max-height:60px;">
				</div>
				<div class="col-md-1 txtfooter text-center">
					<img class="" src="assets/images/spotify.png" style="max-width:60px; max-height:60px;">
				</div>
				<div class="col-md-1 txtfooter text-center">
					<img class="" src="assets/images/instagram.png" style="max-width:60px; max-height:60px;">
				</div>
				<div class="col-md-1 txtfooter text-center">
					<img class="" src="assets/images/facebook.png" style="max-width:60px; max-height:60px;">
				</div>
			</div>
		</div>
	</section>
    	<section class="logos pt-5">
		<div class="container-fluid">
			<div class="row justify-content-center">
				<div class="col-md-12 txtfooter text-center">
					<p>Compass all rights reserved - 2022.</p>
				</div>
			</div>
		</div>
	</section>
</div>
