<!-- Contains navbar -->
{% block stylesheets %}
    <link rel="stylesheet" href="assets/public/css/style.min.css" /> 
{% endblock %}
<nav>
  <div class="container">
    <div>
      <a href="#">Home</a>
      <a href="#" id="discover">Discover</a>
    </div>
    <div>
      <a href="#" id="signin">Sign in</a>
    </div>
  </div>
</nav>