<!-- Contains navbar -->
<nav>
	<div class="container">
		<div>
			<a href="#">Home</a>
			<a href="/discover/discover" id="discover">Discover</a>
		</div>
		<div>
			<a href="/home/home" id="signin">Home</a>
			<a href="/user/user" id="signin">Sign in</a>
		</div>
	</div>
</nav>
