<!-- Contains navbar -->
<nav>
	<div class="container">
		<div>
			<a href="#">Home</a>
			<a href="dd" id="discover">Discover</a>
		</div>
		<div>
			<a href="/home" id="signin">Home</a>
			<a href="/user/user" id="signin">Sign in</a>
		</div>
	</div>
</nav>
