{% extends "base.twig" %}


{% block title %}Home Page
{% endblock %}
{% block head %}{% endblock %}
{% block content %}

	<div id="userprofile">
		<p>Hello</p>
	</div>

	<h1>{{ pageData[0].username|capitalize }}</h1>


{% endblock %}
