{% extends "base.twig" %}


{% block title %}Home Page
{% endblock %}
{% block head %}{% endblock %}
{% block content %}
	<section>
		<div class="container-fluid">
			<div class="row px-5 py-5 text-center" id="userprofile">
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<img class="mb-4" id="profilepic" src="assets/images/dogecoin.jpeg">
					<h3 class="textnormal">{{ pageData[0].username|capitalize }}</h3>
					<p class="textnormal">Modify Profile</p>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<p class="bignumber">60</p>
					<h3 class="textnormal">Artists Discovered</h3>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<p class="bignumber">EBM</p>
					<h3 class="textnormal">Is your favourite genre</h3>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3">
					<p class="textimportant">Find new artists to add to your collection here</p>
					<button id="btnprofile" name="button">Discover</button>

				</h3>
				<div></div>
			</div>

		</section>

		<section id="bgblack">
			<div class="container-fluid">
				<div class="row mx-5 px-5 py-5">
					{% for i in 0..7 %}
						<div class="col-xs-12 col-sm-6 col-md-3 col-lg-3 block-custom">
							<p class="position-absolute textnormal artistsquaretxt">{{ pageData[0].username|capitalize }}</p>
							<img class="artistsquare" src="assets/images/danger.jpg">
						</div>
					{% endfor %}
				</div>
			</div>
		</section>
	{% endblock %}
